@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f4ef;
  --foreground: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --foreground: #F1E5D1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
